# Node.js
plant_disease_detector_frontend/node_modules/
plant_disease_detector_frontend/.next/
plant_disease_detector_frontend/dist/
plant_disease_detector_frontend/build/
*.log
*.lock

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
*.venv/
*.egg-info/
.env
.venv/
db.sqlite3

# VS Code
.vscode/

# macOS / Linux / Windows
.DS_Store
Thumbs.db

# Git
.git/